body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-left: 400px;
}

#miFormulario {
    border: 2px black dotted;
    margin-right: 63%;
    padding: 30px;
    background-color: #f0f0f0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    color: grey;
}

input#envio {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10%;
}